<a href="https://colab.research.google.com/github/PriyadarsiniSundaray/Python/blob/main/C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

print('p')

p

In [3]:
import random

print(random.randrange(1, 10))

5

In [2]:
#convert from int to float:
x = float(1)

#convert from float to int:
y = int(2.8)

#convert from int to complex:
z = complex(1)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [1]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
a = "Hello"
print(a)

Hello

In [ ]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = y = z = "Priyaa"
print(x)
print(y)
print(z)

Priyaa
Priyaa
Priyaa

In [ ]:
x = 5
y = "Pi"
print(x, y)

5 Pi

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [ ]:
x = 1j
#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [ ]:
x = range(6)
#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [ ]:
x = y = z = "Orange"

print(x)
print(y)
print(z)

In [ ]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

In [ ]:
x = 5
y = 10
print(x + y)

15

In [ ]:
x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
y = str("Hello World")

#display y:
print(y)

#display the data type of y:
print(type(y))

In [ ]:
x = int(20)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

In [ ]:
fruits = ["Apple", "Banana", "Litchi"]
x, y, z = fruits

print(x)
print(y)
print(z)

Apple
Banana
Litchi

In [ ]:
x = "Python"
y = "is"
z = "easy"
print(x, y, z)

Python is easy

In [ ]:
a = 4
A = "Slow"

print(a)
print(A)

4
Slow

In [ ]:
myvar = "Poo"
my_var = "Poo"
_my_var = "Poo"
myVar = "Poo"
MYVAR = "Poo"
myvar2 = "Poo"


print(myvar)
print(my_var)
print(_my_var)
print(myVar)
print(MYVAR)
print(myvar2)

Poo
Poo
Poo
Poo
Poo
Poo

In [ ]:
x = 1
y = 3565622255488771127
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
x = str(3)
y = int(5)
z = float(7)

print(x)
print(y)
print(z)

3
5
7.0

In [ ]:
x = 8
y = "OP"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello,Bye!")

Hello,Bye!

In [ ]:
x = 4111
x = "Sallu"
print(x)

Sallu

In [ ]:
#print("Hello")
print("Hiiiiii !")

Hiiiiii !

In [ ]:
x = 10
y = "Priya"
print(x)
print(y)

10
Priya

In [ ]:
x = 5
y = "Hello"
print(x)
print(y)

5
Hello

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [ ]:
if 54 < 112:
  print("Fifty four is less than one hundred twelve!")

Fifty four is less than one hundred twelve!

In [ ]:
def main():
  print('Myself Prieee')

In [ ]:
n = int(input('Enter a no'))
count = 0
if n > 0:
  while (n > 0):
    count += 1
  n//=10
  print(count)

Enter a no6

In [ ]:
n = eval(input())
assert 0 <= n <= 1000
sum = 0
while (n > 0):
  sum+=n%10
  n//=10
print(sum)

2
2

In [ ]:
print('Hello')

Hello